/** CMPT 276 Assignment 1
    CSS for Calculator **/


h2 {
  color: red;
}

div.main {
  width: 1005px;
  background-color: silver;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 3px;
}

th {
  background-color: darkgray;
  text-align: left;
}

table, tr, td, th {
  width: 1000px;
  padding: 5px;
  border: 1px solid;
  border-color: gray;
  border-collapse: collapse;
}

button {
  color: white;
  background-color: red;
  border-style: hidden;
  border-radius: 3px;
  float: right;
  font-size: 13px;
  text-align: center;
  height: 30px;
  width: 75px;
  margin: 7px;
}
