/** CMPT 276 Assignment 1
    CSS for Calculator **/


h2 {
  color: #cc0000;
}

div.main {
  width: 1005px;
  background-color: #eff5f5;
  padding: 15px;
  padding-bottom: 55px;
  border-radius: 3px;
}

th {
  background-color: #d9d9d9;
  text-align: left;
}

table, tr, td, th {
  height: 25px;
  width: 1000px;
  padding: 5px;
  border: 1px solid;
  border-color: gray;
  border-collapse: collapse;
}

input {
  padding: 7px;
}

input.calc_total {
  border-style: none;
  padding: 7px;
  background-color: #eff5f5;
  float: right;
}

input.numerator {
  text-align: right;
}

button {
  color: white;
  background-color: #cc0000;
  border-style: hidden;
  border-radius: 3px;
  float: right;
  font-size: 13px;
  text-align: center;
  height: 30px;
  width: 75px;
  margin: 7px;
}
